body, html{
    background-image: url("../images/poster.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DA291C;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000000;
    color: #e52315;
    text-align: center;
    font-size: 1.2vw;
    font-family: "Keania One", sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 0.15vw;
    word-spacing: 0.4vw;
    text-transform: uppercase;
    overflow: hidden;
}

.header span {
    opacity: 0;
    animation: cambio-testo 10s infinite;
}

#scritta-1{
    position: absolute;
}

#scritta-2{
    transform: translate(-10%,0);
}

.header span:nth-child(1) {
    animation-delay: 0s;
}

.header span:nth-child(2) {
    animation-delay: 5s;
}

#contenitore-grande{
    margin-bottom: 0;
}

#scritta-titolo {
    text-align: center;
    color: #000000;
    font-size: 11vw;
    margin-top: 0.2vw;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: "Londrina Solid", sans-serif;
    font-weight: bold;
    position: relative;
    animation: neon 1.5s ease-in-out infinite;
    word-spacing: 0.8vw;
    letter-spacing: 0.2vw;
    line-height: 0.9;
}

.quadrato-rosso{
    display: inline-block;
    background-color: red; /* Colore del quadrato */
    padding: 0.1em 0.1em;
}

.scritta-interna {
    color: white;
    font-size: 0.9em;
    vertical-align: 5%;
}

.primo-blocco{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
    margin: 0;
    padding: 0;
}

#scritta-piccola{
    text-align: center;
    padding: 0;
    color: white;
    font-size: 3vw;
    font-family: "Keania One", sans-serif;
    margin-top: 1%;
    animation: glitch 1s infinite;
}

.secondo-blocco {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;

}

#data-uscita{
    padding: 0;
    margin-bottom: 1vh;
    color: white;
    font-size: 3vw;
    font-family: Impact, sans-serif;
    transform: translate(-18%, 0);
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    -webkit-animation: text-flicker-out-glow 1s linear infinite both;
    animation: text-flicker-out-glow 1s linear infinite both;
}

#barra{
    font-size: 3vw;
    color: #ff0000;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 0.8vh;
    font-family: Impact, sans-serif;
    transform: translate(-70%, 0);
}

#logo-netflix{
    width: 14.04%;
    height: 16.11%;
    transform: translate(-60%, +60%);
    margin-bottom: 0.8vh;

}


@keyframes neon {
    0% {
        text-shadow: 0 0 8px red, 0 0 16px gold, 0 0 25px lightgreen;
    }
    50% {
        text-shadow: 0 0 10px lightblue;
    }
    100% {
        text-shadow: 0 0 8px red, 0 0 16px gold, 0 0 25px lightgreen;
    }
}

@keyframes glitch {
    0% {
        transform: none;
        opacity: 1;
        color: white;
    }
    25% {
        transform: translate(2px, -2px);
        opacity: 1;
        color: #ffffff;
    }
    50% {
        transform: translate(-2px, 2px);
        opacity: 1;
        color: #ffffff;
    }
    75% {
        transform: translate(2px, 2px);
        opacity: 1;
        color: #ffffff;
    }
    100% {
        transform: none;
        opacity: 1;
        color: white;
    }
}

@keyframes scrollBanner {
    0% {transform: translateX(80%);}
    100% {transform: translateX(-120%);}
}

@-webkit-keyframes text-flicker-out-glow {
    0% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
        opacity: 0;
        text-shadow: none;
    }
    14.9% {
        opacity: 0;
        text-shadow: none;
    }
    15% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
        opacity: 0;
        text-shadow: none;
    }
    24.9% {
        opacity: 0;
        text-shadow: none;
    }
    25% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
        opacity: 0;
        text-shadow: none;
    }
    39.9% {
        opacity: 0;
        text-shadow: none;
    }
    40% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
        opacity: 0;
        text-shadow: none;
    }
    44.9% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 0;
        text-shadow: none;
    }
    69.4% {
        opacity: 0;
        text-shadow: none;
    }
    69.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
        opacity: 0;
        text-shadow: none;
    }
    79.4% {
        opacity: 0;
        text-shadow: none;
    }
    79.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
        opacity: 0;
        text-shadow: none;
    }
    89.8% {
        opacity: 0;
        text-shadow: none;
    }
    89.9% {
        opacity: 1;
        text-shadow: none;
    }
    90% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 0;
    }
}
@keyframes text-flicker-out-glow {
    0% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
        opacity: 0;
        text-shadow: none;
    }
    14.9% {
        opacity: 0;
        text-shadow: none;
    }
    15% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
        opacity: 0;
        text-shadow: none;
    }
    24.9% {
        opacity: 0;
        text-shadow: none;
    }
    25% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
        opacity: 0;
        text-shadow: none;
    }
    39.9% {
        opacity: 0;
        text-shadow: none;
    }
    40% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
        opacity: 0;
        text-shadow: none;
    }
    44.9% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 0;
        text-shadow: none;
    }
    69.4% {
        opacity: 0;
        text-shadow: none;
    }
    69.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
        opacity: 0;
        text-shadow: none;
    }
    79.4% {
        opacity: 0;
        text-shadow: none;
    }
    79.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
        opacity: 0;
        text-shadow: none;
    }
    89.8% {
        opacity: 0;
        text-shadow: none;
    }
    89.9% {
        opacity: 1;
        text-shadow: none;
    }
    90% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cambio-testo {
    0%, 40% { opacity: 1; }
    50%, 100% { opacity: 0; }
}
