<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"  th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <title>Login</title>
</head>
<body>
<div class="container">
    <h2 id="textLogin">Login</h2>
    <form class="containerForm" th:action="@{/login}" method="post">

        <div class="containerUsername">
            <label id="labelUser" for="username">Username:</label>
            <input type="text" id="username" name="username" required autofocus>
        </div>

        <div class="containerPassword">
            <label id="labelPass" for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div id="errorMessage" th:if="${param.error}">
            Invalid username or password.
        </div>

        <div class="bottomLogin">
            <button type="submit" value="Sign In">Login</button>
        </div>

    </form>
</div>
<footer th:insert="~{fragments/footer :: block-footer}"></footer>
</body>
</html>
